body{
    font: 20px Arial, sans-serif; 
}
.navbar{
    background-color: #D7BDE2;
}
.quem-somos{
    background-color: #F1948A ;
    color: white;
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color:#FAC9E3 ;
}
.lb-footer{
    background-color:  #F1948A ;
    color: white;
}
